<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.attendance_mobile">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
            android:name=".model.local.Application"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".home.homemhs.HomeMhsActivity"/>
        <activity android:name=".home.homedosen.HomeDsnActivity"/>
        <activity android:name=".beaconscanning.BeaconScanActivity"/>
        <activity android:name=".fingerprintauth.FingerprintAuthActivity"/>
        <activity android:name=".detailsummary.DetailSummaryActivity"/>
        <activity android:name=".detailpersession.DetailPerSessionActivity"/>
        <activity android:name=".home.homedosen.mhslist.MhsListActivity"/>
        <service android:name=".model.service.BeaconService" android:enabled="true"/>
        <service android:name=".model.service.BeaconBackgroundService" android:enabled="true"/>
        <receiver android:name=".receiver.ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>